In [2]:
import pandas as pd
import numpy as np
from warnings import filterwarnings
filterwarnings("ignore")
import matplotlib.pyplot as plt
import seaborn as sb

# Read Data

In [3]:
train=pd.read_csv("C:/Users/AYUSH/Desktop/Dataset/HR-Employee-Attrition-Table 1.csv")

# Profile

In [4]:
train.head()

,Attrition,Age,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,1,41,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,0,49,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,1,37,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,0,33,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,0,27,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1470 entries, 0 to 1469
Data columns (total 35 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Attrition                 1470 non-null   int64
 1   Age                       1470 non-null   int64
 2   BusinessTravel            1470 non-null   object
 3   DailyRate                 1470 non-null   int64
 4   Department                1470 non-null   object
 5   DistanceFromHome          1470 non-null   int64
 6   Education                 1470 non-null   int64
 7   EducationField            1470 non-null   object
 8   EmployeeCount             1470 non-null   int64
 9   EmployeeNumber            1470 non-null   int64
 10  EnvironmentSatisfaction   1470 non-null   int64
 11  Gender                    1470 non-null   object
 12  HourlyRate                1470 non-null   int64
 13  JobInvolvement            1470 non-null   int64
 14  JobLevel                  1470 non-null   int64
 15  JobRole                   1470 non-null   object
 16  JobSatisfaction           1470 non-null   int64
 17  MaritalStatus             1470 non-null   object
 18  MonthlyIncome             1470 non-null   int64
 19  MonthlyRate               1470 non-null   int64
 20  NumCompaniesWorked        1470 non-null   int64
 21  Over18                    1470 non-null   object
 22  OverTime                  1470 non-null   object
 23  PercentSalaryHike         1470 non-null   int64
 24  PerformanceRating         1470 non-null   int64
 25  RelationshipSatisfaction  1470 non-null   int64
 26  StandardHours             1470 non-null   int64
 27  StockOptionLevel          1470 non-null   int64
 28  TotalWorkingYears         1470 non-null   int64
 29  TrainingTimesLastYear     1470 non-null   int64
 30  WorkLifeBalance           1470 non-null   int64
 31  YearsAtCompany            1470 non-null   int64
 32  YearsInCurrentRole        1470 non-null   int64
 33  YearsSinceLastPromotion   1470 non-null   int64
 34  YearsWithCurrManager      1470 non-null   int64
dtypes: int64(27), object(8)
memory usage: 402.1+ KB

In [6]:
train.describe()

,Attrition,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,0.161224,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,0.367863,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,0.000000,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,0.000000,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,0.000000,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,1.000000,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

# Find missing data

In [7]:
train.isna().sum()

Attrition                   0
Age                         0
BusinessTravel              0
DailyRate                   0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeNumber              0
EnvironmentSatisfaction     0
Gender                      0
HourlyRate                  0
JobInvolvement              0
JobLevel                    0
JobRole                     0
JobSatisfaction             0
MaritalStatus               0
MonthlyIncome               0
MonthlyRate                 0
NumCompaniesWorked          0
Over18                      0
OverTime                    0
PercentSalaryHike           0
PerformanceRating           0
RelationshipSatisfaction    0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           0
TrainingTimesLastYear       0
WorkLifeBalance             0
YearsAtCompany              0
YearsInCurrentRole          0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

# Drop unnessary columns

In [8]:
train.nunique()

Attrition                      2
Age                           43
BusinessTravel                 3
DailyRate                    886
Department                     3
DistanceFromHome              29
Education                      5
EducationField                 6
EmployeeCount                  1
EmployeeNumber              1470
EnvironmentSatisfaction        4
Gender                         2
HourlyRate                    71
JobInvolvement                 4
JobLevel                       5
JobRole                        9
JobSatisfaction                4
MaritalStatus                  3
MonthlyIncome               1349
MonthlyRate                 1427
NumCompaniesWorked            10
Over18                         1
OverTime                       2
PercentSalaryHike             15
PerformanceRating              2
RelationshipSatisfaction       4
StandardHours                  1
StockOptionLevel               4
TotalWorkingYears             40
TrainingTimesLastYear          7
WorkLifeBalance                4
YearsAtCompany                37
YearsInCurrentRole            19
YearsSinceLastPromotion       16
YearsWithCurrManager          18
dtype: int64

In [10]:
train = train.drop(labels=["EmployeeNumber","StandardHours","Over18","EmployeeCount"],axis=1)

# Define X and Y

In [11]:
X = train.drop(labels="Attrition",axis=1)
Y = train[["Attrition"]]

# Find and Remove Skew

In [12]:
X.skew().sort_values()

WorkLifeBalance            -0.552480
JobInvolvement             -0.498419
JobSatisfaction            -0.329672
EnvironmentSatisfaction    -0.321654
RelationshipSatisfaction   -0.302828
Education                  -0.289681
HourlyRate                 -0.032311
DailyRate                  -0.003519
MonthlyRate                 0.018578
Age                         0.413286
TrainingTimesLastYear       0.553124
PercentSalaryHike           0.821128
YearsWithCurrManager        0.833451
YearsInCurrentRole          0.917363
DistanceFromHome            0.958118
StockOptionLevel            0.968980
JobLevel                    1.025401
NumCompaniesWorked          1.026471
TotalWorkingYears           1.117172
MonthlyIncome               1.369817
YearsAtCompany              1.764529
PerformanceRating           1.921883
YearsSinceLastPromotion     1.984290
dtype: float64

In [15]:
cols_skew = ["PercentSalaryHike","YearsWithCurrManager","YearsInCurrentRole","DistanceFromHome","StockOptionLevel","JobLevel","NumCompaniesWorked","TotalWorkingYears","MonthlyIncome","YearsAtCompany","PerformanceRating","YearsSinceLastPromotion"]

In [16]:
for i in cols_skew:
    for j in range(0,614,1):
        if(X[[i]].iloc[j,0]==0):
            X[[i]] = X[[i]].replace(0,0.001)
X1 = X[cols_skew].apply(np.log)

In [17]:
X = X.drop(labels=cols_skew,axis=1)
X2 = X.join(X1)

In [24]:
X2.head(2)

,Age,BusinessTravel,DailyRate,Department,Education,EducationField,EnvironmentSatisfaction,Gender,HourlyRate,JobInvolvement,...,YearsInCurrentRole,DistanceFromHome,StockOptionLevel,JobLevel,NumCompaniesWorked,TotalWorkingYears,MonthlyIncome,YearsAtCompany,PerformanceRating,YearsSinceLastPromotion
0,41,Travel_Rarely,1102,Sales,2,Life Sciences,2,Female,94,3,...,1.386294,0.000000,-6.907755,0.693147,2.079442,2.079442,8.698347,1.791759,1.098612,-6.907755
1,49,Travel_Frequently,279,Research & Development,1,Life Sciences,3,Male,61,2,...,1.945910,2.079442,0.000000,0.693147,0.000000,2.302585,8.542861,2.302585,1.386294,0.000000

# Preprocessing

In [27]:
def preprocessing(df):
    cat = []
    con = []
    for i in df.columns:
        if(df[i].dtypes=="object"):
            cat.append(i)
        else:
            con.append(i)
    X1 = pd.get_dummies(df[cat])
    from sklearn.preprocessing import StandardScaler
    ss = StandardScaler()
    X2 = pd.DataFrame(ss.fit_transform(df[con]),columns=con)
    Xnew = X2.join(X1)
    return Xnew

In [28]:
X_new = preprocessing(X2)

In [29]:
X_new.head(3)

,Age,DailyRate,Education,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobSatisfaction,MonthlyRate,RelationshipSatisfaction,TrainingTimesLastYear,...,JobRole_Manufacturing Director,JobRole_Research Director,JobRole_Research Scientist,JobRole_Sales Executive,JobRole_Sales Representative,MaritalStatus_Divorced,MaritalStatus_Married,MaritalStatus_Single,OverTime_No,OverTime_Yes
0,0.446350,0.742527,-0.891688,-0.660531,1.383138,0.379672,1.153254,0.726020,-1.584178,-2.171982,...,0,0,0,1,0,0,0,1,0,1
1,1.322365,-1.297775,-1.868426,0.254625,-0.240677,-1.026167,-0.660853,1.488876,1.191438,0.155707,...,0,0,1,0,0,0,1,0,1,0
2,0.008343,1.414363,-0.891688,1.169781,1.284725,-1.026167,0.246200,-1.674841,-0.658973,0.155707,...,0,0,0,0,0,0,0,1,0,1

# Spliting data into training and testing set

In [30]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(X_new,Y,test_size=0.2,random_state=42)

# Create Neural Network

In [34]:
from keras.models import Sequential
from keras.layers import Dense,Dropout

nn = Sequential()
nn.add(Dense(256,activation="relu",input_dim = X_new.shape[1]))
nn.add(Dropout(0.2))
nn.add(Dense(256,activation="relu"))
nn.add(Dropout(0.2))
nn.add(Dense(256,activation="relu"))
nn.add(Dropout(0.2))
nn.add(Dense(1,activation="sigmoid"))

In [35]:
nn.compile(loss="binary_crossentropy",optimizer="Adam",metrics=["accuracy"])
nn.fit(X_new,Y,validation_split=0.2,epochs=50)

Epoch 1/50
37/37 [==============================] - 1s 7ms/step - loss: 0.4405 - accuracy: 0.8325 - val_loss: 0.3320 - val_accuracy: 0.8639
Epoch 2/50
37/37 [==============================] - 0s 4ms/step - loss: 0.3429 - accuracy: 0.8656 - val_loss: 0.2946 - val_accuracy: 0.8878
Epoch 3/50
37/37 [==============================] - 0s 4ms/step - loss: 0.3045 - accuracy: 0.8852 - val_loss: 0.2932 - val_accuracy: 0.8776
Epoch 4/50
37/37 [==============================] - 0s 4ms/step - loss: 0.2818 - accuracy: 0.8835 - val_loss: 0.3069 - val_accuracy: 0.8912
Epoch 5/50
37/37 [==============================] - 0s 4ms/step - loss: 0.2588 - accuracy: 0.8937 - val_loss: 0.2942 - val_accuracy: 0.8912
Epoch 6/50
37/37 [==============================] - 0s 4ms/step - loss: 0.2275 - accuracy: 0.9124 - val_loss: 0.3092 - val_accuracy: 0.8980
Epoch 7/50
37/37 [==============================] - 0s 6ms/step - loss: 0.2078 - accuracy: 0.9133 - val_loss: 0.3039 - val_accuracy: 0.9048
Epoch 8/50
37/37 [==============================] - 0s 6ms/step - loss: 0.1866 - accuracy: 0.9277 - val_loss: 0.3382 - val_accuracy: 0.8741
Epoch 9/50
37/37 [==============================] - 0s 6ms/step - loss: 0.1630 - accuracy: 0.9362 - val_loss: 0.3482 - val_accuracy: 0.8810
Epoch 10/50
37/37 [==============================] - 0s 6ms/step - loss: 0.1555 - accuracy: 0.9320 - val_loss: 0.3919 - val_accuracy: 0.8639
Epoch 11/50
37/37 [==============================] - 0s 6ms/step - loss: 0.1315 - accuracy: 0.9464 - val_loss: 0.4028 - val_accuracy: 0.8639
Epoch 12/50
37/37 [==============================] - 0s 7ms/step - loss: 0.1089 - accuracy: 0.9583 - val_loss: 0.4266 - val_accuracy: 0.8912
Epoch 13/50
37/37 [==============================] - 0s 7ms/step - loss: 0.0806 - accuracy: 0.9668 - val_loss: 0.4226 - val_accuracy: 0.8980
Epoch 14/50
37/37 [==============================] - 0s 7ms/step - loss: 0.0633 - accuracy: 0.9813 - val_loss: 0.5460 - val_accuracy: 0.8741
Epoch 15/50
37/37 [==============================] - 0s 6ms/step - loss: 0.0898 - accuracy: 0.9643 - val_loss: 0.4938 - val_accuracy: 0.8503
Epoch 16/50
37/37 [==============================] - 0s 7ms/step - loss: 0.0686 - accuracy: 0.9804 - val_loss: 0.4850 - val_accuracy: 0.8707
Epoch 17/50
37/37 [==============================] - 0s 6ms/step - loss: 0.0482 - accuracy: 0.9830 - val_loss: 0.5183 - val_accuracy: 0.8707
Epoch 18/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0372 - accuracy: 0.9889 - val_loss: 0.5866 - val_accuracy: 0.8469
Epoch 19/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0314 - accuracy: 0.9881 - val_loss: 0.6744 - val_accuracy: 0.8741
Epoch 20/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0354 - accuracy: 0.9855 - val_loss: 0.5964 - val_accuracy: 0.8741
Epoch 21/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0300 - accuracy: 0.9915 - val_loss: 0.6465 - val_accuracy: 0.8878
Epoch 22/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0287 - accuracy: 0.9906 - val_loss: 0.7468 - val_accuracy: 0.8639
Epoch 23/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0417 - accuracy: 0.9855 - val_loss: 0.7276 - val_accuracy: 0.8469
Epoch 24/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0392 - accuracy: 0.9898 - val_loss: 0.7204 - val_accuracy: 0.8741
Epoch 25/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0333 - accuracy: 0.9881 - val_loss: 0.7590 - val_accuracy: 0.8401
Epoch 26/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0216 - accuracy: 0.9940 - val_loss: 0.7689 - val_accuracy: 0.8741
Epoch 27/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0337 - accuracy: 0.9855 - val_loss: 0.7616 - val_accuracy: 0.8571
Epoch 28/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0192 - accuracy: 0.9957 - val_loss: 0.6967 - val_accuracy: 0.8673
Epoch 29/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0181 - accuracy: 0.9957 - val_loss: 0.8035 - val_accuracy: 0.8673
Epoch 30/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0127 - accuracy: 0.9932 - val_loss: 0.9141 - val_accuracy: 0.8639
Epoch 31/50
37/37 [==============================] - 0s 6ms/step - loss: 0.0314 - accuracy: 0.9898 - val_loss: 0.7994 - val_accuracy: 0.8707
Epoch 32/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0308 - accuracy: 0.9906 - val_loss: 0.7163 - val_accuracy: 0.8741
Epoch 33/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0139 - accuracy: 0.9966 - val_loss: 0.7490 - val_accuracy: 0.8707
Epoch 34/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0152 - accuracy: 0.9940 - val_loss: 0.8342 - val_accuracy: 0.8639
Epoch 35/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0157 - accuracy: 0.9957 - val_loss: 0.7973 - val_accuracy: 0.8776
Epoch 36/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0082 - accuracy: 0.9966 - val_loss: 0.8262 - val_accuracy: 0.8673
Epoch 37/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0096 - accuracy: 0.9966 - val_loss: 0.8301 - val_accuracy: 0.8673
Epoch 38/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0139 - accuracy: 0.9966 - val_loss: 0.8446 - val_accuracy: 0.8435
Epoch 39/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0155 - accuracy: 0.9949 - val_loss: 0.8157 - val_accuracy: 0.8673
Epoch 40/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0118 - accuracy: 0.9957 - val_loss: 0.8136 - val_accuracy: 0.8707
Epoch 41/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0187 - accuracy: 0.9923 - val_loss: 0.8349 - val_accuracy: 0.8537
Epoch 42/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0208 - accuracy: 0.9915 - val_loss: 0.7745 - val_accuracy: 0.8639
Epoch 43/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0108 - accuracy: 0.9949 - val_loss: 0.8342 - val_accuracy: 0.8605
Epoch 44/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0180 - accuracy: 0.9932 - val_loss: 0.8384 - val_accuracy: 0.8367
Epoch 45/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0250 - accuracy: 0.9932 - val_loss: 0.8835 - val_accuracy: 0.8741
Epoch 46/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0170 - accuracy: 0.9949 - val_loss: 0.9551 - val_accuracy: 0.8333
Epoch 47/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0191 - accuracy: 0.9915 - val_loss: 0.7964 - val_accuracy: 0.8503
Epoch 48/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0121 - accuracy: 0.9957 - val_loss: 0.8118 - val_accuracy: 0.8469
Epoch 49/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0137 - accuracy: 0.9940 - val_loss: 0.7874 - val_accuracy: 0.8878
Epoch 50/50
37/37 [==============================] - 0s 4ms/step - loss: 0.0070 - accuracy: 0.9983 - val_loss: 0.7655 - val_accuracy: 0.8571

# Tuning model parameters

In [36]:
def model(hp):
    nn = Sequential()
    nn.add(Dense(256,activation="relu",input_dim = X_new.shape[1]))
    x = hp.Int("units",min_value=256,max_value=640,step=32)
    y = hp.Choice("rate",values=[0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9])
    nn.add(Dropout(rate=y))
    nn.add(Dense(units = x,activation="relu"))
    nn.add(Dropout(rate=y))
    nn.add(Dense(units = x,activation="relu"))
    nn.add(Dropout(rate=y))
    nn.add(Dense(1,activation="sigmoid"))
    nn.compile(loss="binary_crossentropy",metrics=["accuracy"])
    return nn

In [37]:
import keras_tuner as kt
tuner = kt.Hyperband(model,
                     objective="val_accuracy",
                    max_epochs=10,
                    directory="C:/Users/AYUSH/Desktop/Keras_Tuner/KT_NN3",
                    project_name="Keras_TUNER")

In [38]:
tuner.search(xtrain,ytrain,epochs=60,validation_split=0.2)

Trial 30 Complete [00h 00m 03s]
val_accuracy: 0.8432203531265259

Best val_accuracy So Far: 0.8644067645072937
Total elapsed time: 00h 01m 05s
INFO:tensorflow:Oracle triggered exit

In [39]:
tuner.get_best_hyperparameters()[0].get("units")

448

In [40]:
tuner.get_best_hyperparameters()[0].get("rate")

0.4

# Create a NN with new value of tuned parameter

In [41]:
nn1 = Sequential()
nn1.add(Dense(256,activation="relu",input_dim = X_new.shape[1]))
nn1.add(Dropout(0.4))
nn1.add(Dense(448,activation="relu"))
nn1.add(Dropout(0.4))
nn1.add(Dense(448,activation="relu"))
nn1.add(Dropout(0.4))
nn1.add(Dense(1,activation="sigmoid"))

In [42]:
nn1.compile(loss="binary_crossentropy",optimizer="Adam",metrics=["accuracy"])
nn1.fit(X_new,Y,validation_split=0.2,epochs=50)

Epoch 1/50
37/37 [==============================] - 1s 9ms/step - loss: 0.4580 - accuracy: 0.8240 - val_loss: 0.3489 - val_accuracy: 0.8776
Epoch 2/50
37/37 [==============================] - 0s 5ms/step - loss: 0.3618 - accuracy: 0.8486 - val_loss: 0.3233 - val_accuracy: 0.8844
Epoch 3/50
37/37 [==============================] - 0s 5ms/step - loss: 0.3322 - accuracy: 0.8716 - val_loss: 0.3178 - val_accuracy: 0.8844
Epoch 4/50
37/37 [==============================] - 0s 5ms/step - loss: 0.3058 - accuracy: 0.8818 - val_loss: 0.3138 - val_accuracy: 0.8810
Epoch 5/50
37/37 [==============================] - 0s 5ms/step - loss: 0.3042 - accuracy: 0.8724 - val_loss: 0.3054 - val_accuracy: 0.8980
Epoch 6/50
37/37 [==============================] - 0s 5ms/step - loss: 0.3040 - accuracy: 0.8827 - val_loss: 0.3077 - val_accuracy: 0.8912
Epoch 7/50
37/37 [==============================] - 0s 5ms/step - loss: 0.2640 - accuracy: 0.8946 - val_loss: 0.2944 - val_accuracy: 0.8980
Epoch 8/50
37/37 [==============================] - 0s 5ms/step - loss: 0.2393 - accuracy: 0.9031 - val_loss: 0.3130 - val_accuracy: 0.8844
Epoch 9/50
37/37 [==============================] - 0s 5ms/step - loss: 0.2511 - accuracy: 0.8980 - val_loss: 0.3116 - val_accuracy: 0.8912
Epoch 10/50
37/37 [==============================] - 0s 6ms/step - loss: 0.2155 - accuracy: 0.9167 - val_loss: 0.3273 - val_accuracy: 0.8912
Epoch 11/50
37/37 [==============================] - 0s 6ms/step - loss: 0.2028 - accuracy: 0.9260 - val_loss: 0.3448 - val_accuracy: 0.8878
Epoch 12/50
37/37 [==============================] - 0s 6ms/step - loss: 0.1948 - accuracy: 0.9277 - val_loss: 0.3460 - val_accuracy: 0.8810
Epoch 13/50
37/37 [==============================] - 0s 6ms/step - loss: 0.1905 - accuracy: 0.9277 - val_loss: 0.3407 - val_accuracy: 0.8878
Epoch 14/50
37/37 [==============================] - 0s 5ms/step - loss: 0.1772 - accuracy: 0.9379 - val_loss: 0.3586 - val_accuracy: 0.8673
Epoch 15/50
37/37 [==============================] - 0s 5ms/step - loss: 0.1454 - accuracy: 0.9405 - val_loss: 0.4007 - val_accuracy: 0.8707
Epoch 16/50
37/37 [==============================] - 0s 6ms/step - loss: 0.1432 - accuracy: 0.9345 - val_loss: 0.4086 - val_accuracy: 0.8741
Epoch 17/50
37/37 [==============================] - 0s 5ms/step - loss: 0.1404 - accuracy: 0.9396 - val_loss: 0.4202 - val_accuracy: 0.8776
Epoch 18/50
37/37 [==============================] - 0s 6ms/step - loss: 0.1384 - accuracy: 0.9464 - val_loss: 0.4137 - val_accuracy: 0.8776
Epoch 19/50
37/37 [==============================] - 0s 5ms/step - loss: 0.1121 - accuracy: 0.9541 - val_loss: 0.4420 - val_accuracy: 0.8810
Epoch 20/50
37/37 [==============================] - 0s 6ms/step - loss: 0.1095 - accuracy: 0.9626 - val_loss: 0.4438 - val_accuracy: 0.8912
Epoch 21/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0930 - accuracy: 0.9617 - val_loss: 0.5495 - val_accuracy: 0.8844
Epoch 22/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0931 - accuracy: 0.9626 - val_loss: 0.5035 - val_accuracy: 0.8946
Epoch 23/50
37/37 [==============================] - 0s 6ms/step - loss: 0.0850 - accuracy: 0.9626 - val_loss: 0.5159 - val_accuracy: 0.8571
Epoch 24/50
37/37 [==============================] - 0s 5ms/step - loss: 0.1003 - accuracy: 0.9626 - val_loss: 0.5125 - val_accuracy: 0.8639
Epoch 25/50
37/37 [==============================] - 0s 6ms/step - loss: 0.0794 - accuracy: 0.9711 - val_loss: 0.5738 - val_accuracy: 0.8810
Epoch 26/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0695 - accuracy: 0.9736 - val_loss: 0.5336 - val_accuracy: 0.8810
Epoch 27/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0629 - accuracy: 0.9762 - val_loss: 0.5312 - val_accuracy: 0.8707
Epoch 28/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0696 - accuracy: 0.9753 - val_loss: 0.6259 - val_accuracy: 0.8469
Epoch 29/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0627 - accuracy: 0.9753 - val_loss: 0.6106 - val_accuracy: 0.8776
Epoch 30/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0754 - accuracy: 0.9702 - val_loss: 0.6344 - val_accuracy: 0.8537
Epoch 31/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0718 - accuracy: 0.9719 - val_loss: 0.5947 - val_accuracy: 0.8673
Epoch 32/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0594 - accuracy: 0.9779 - val_loss: 0.6016 - val_accuracy: 0.8639
Epoch 33/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0544 - accuracy: 0.9804 - val_loss: 0.6433 - val_accuracy: 0.8707
Epoch 34/50
37/37 [==============================] - 0s 6ms/step - loss: 0.0516 - accuracy: 0.9762 - val_loss: 0.6530 - val_accuracy: 0.8673
Epoch 35/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0510 - accuracy: 0.9821 - val_loss: 0.7257 - val_accuracy: 0.8776
Epoch 36/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0549 - accuracy: 0.9770 - val_loss: 0.6554 - val_accuracy: 0.8605
Epoch 37/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0360 - accuracy: 0.9881 - val_loss: 0.7165 - val_accuracy: 0.8741
Epoch 38/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0317 - accuracy: 0.9889 - val_loss: 0.7985 - val_accuracy: 0.8844
Epoch 39/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0296 - accuracy: 0.9872 - val_loss: 0.8153 - val_accuracy: 0.8639
Epoch 40/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0428 - accuracy: 0.9872 - val_loss: 0.8143 - val_accuracy: 0.8776
Epoch 41/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0414 - accuracy: 0.9847 - val_loss: 0.8201 - val_accuracy: 0.8639
Epoch 42/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0339 - accuracy: 0.9881 - val_loss: 0.9191 - val_accuracy: 0.8810
Epoch 43/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0350 - accuracy: 0.9898 - val_loss: 0.8470 - val_accuracy: 0.8810
Epoch 44/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0293 - accuracy: 0.9889 - val_loss: 0.8614 - val_accuracy: 0.8878
Epoch 45/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0506 - accuracy: 0.9804 - val_loss: 0.8443 - val_accuracy: 0.8571
Epoch 46/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0513 - accuracy: 0.9847 - val_loss: 0.7679 - val_accuracy: 0.8435
Epoch 47/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0337 - accuracy: 0.9889 - val_loss: 0.7618 - val_accuracy: 0.8537
Epoch 48/50
37/37 [==============================] - 0s 5ms/step - loss: 0.0329 - accuracy: 0.9847 - val_loss: 0.7916 - val_accuracy: 0.8741
Epoch 49/50
37/37 [==============================] - 0s 6ms/step - loss: 0.0253 - accuracy: 0.9889 - val_loss: 0.7568 - val_accuracy: 0.8741
Epoch 50/50
37/37 [==============================] - 0s 6ms/step - loss: 0.0336 - accuracy: 0.9923 - val_loss: 0.8643 - val_accuracy: 0.8878

# Prediction On testing data

In [43]:
w = []
for i in nn1.predict(xtest):
    if(i[0]<0.5):
        w.append(0)
    else:
        w.append(1)

In [45]:
from sklearn.metrics import accuracy_score
accuracy_score(ytest,w)

0.9829931972789115